<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us </title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/aboutus.css')}}">
</head>

<body>
    <div class="header">
        <div class="headerfirsthalf">
            <div class="companylogo">
                <img src="{{url_for('static',filename='img/logo.png')}}"  id="logo" />
            </div>
            <div class="companyname">
                V-Explore
            </div>
        </div>
        <div class="headersecondhalf">
            <a class="btn loginbutton" href="signin.html">
                Login
            </a>
            <a class="btn signupbutton" href="signup.html">
                Signup
            </a>
        </div>
    </div>

    <div class="upperbody">

        Welcome to the Knowledge<br>
        Sharing Portal for<br>
        Vedanta.!
    </div>

    <div class="middlebodycontainer">

        <div class="middlebody">
            <div class="upppermiddlebody">
                <div class="linebar" id="uppermiddlebodylinebar">

                </div>
                <div class="textcontainer">
                    Knowledge is a potent tool for success and progress, according to Vedanta. Our<br> knowledge-sharing
                    portal encourages staff members to submit their daily struggles, <br>solutions, and insights to tap
                    into the collective expertise and experiences of the company.
                </div>
            </div>
            <div class="lowermiddlebody">
                <div class="linebar" id="lowermiddlebodylinebar">

                </div>
                <div class="textcontainer">

                    This platform acts as a virtual meeting place where useful information is shared, allowing <br>all
                    members of the Vedanta community to develop and face challenges together.
                </div>
            </div>
        </div>
    </div>

    <div class="mainbody">
        <div class="onelinermainbody">
            What to anticipate from our knowledge-sharing portal is listed below:
        </div>
        <div class="firstmainbody background">
            <div class="firsttext background">
                <div class="textcontent background">
                    <p class="heading background">Employee Empowerment : </p>

                    <p class="para background">
                        Our site gives every employee a place to log in and share their expertise. We are aware that
                        every person has a distinctive collection of experiences, knowledge, and viewpoints. By
                        fostering a culture of sharing, we aim to unlock the full potential of our workforce and
                        encourage continuous learning.
                    </p>
                </div>

            </div>
            <div class="firstimage">

                <img src="{{url_for('static',filename='img/empowerment.png')}}" height="502px" width="620px">

            </div>
        </div>
        <div class="secondmainbody">


            <div class="secondimage">
                <img src="{{url_for('static',filename='img/insights.png')}}"  width="1240px" height="418.63px" >

            </div>
            <div class="secondtext background">
                <div class="textcontent2 background">

                    <p class="heading background">Useful Insights : </p>

                    <p class="para background">
                        The information offered on our site is based on real-world situations that our personnel meet while performing their daily jobs. You will discover a wide variety of issues discussed, ranging from failure-based learning to improvement programs, from production and quality to IT conundrums. These perceptions offer helpful suggestions and directions that are immediately applicable to circumstances like these.
                    </p>

                </div>

            </div> 





        </div>
        <div class="thirdmainbody">

            <div class="thirdimage">

                <img src="{{url_for('static',filename='img/thirdimage.png')}}"  height="450px" width="566px">

            </div>
            <div class="thirdtext background">
                <div class="textcontent3 background">

                    <p class="heading background">Simple Access : </p>

                    <p class="para background">
                        Our portal's user-friendly interface makes it possible for staff members to quickly access the knowledge that has been given within the Vedanta community. With the aid of a thorough search engine, you can easily locate the data you require depending on particular topics, enabling you to delve deeply into pertinent areas and unearth fresh ideas
                    </p>
                    
                </div>

            </div>


        </div>
    </div>

    <div class="secondlastbox">
        <div class="secondlasttextcontent para">
            Come along with us on this fascinating journey of information exchange and ongoing development. We can work together to create a stronger, more knowledgeable company that benefits from the employees' combined knowledge. 
        </div>
    </div>

    <div class="lasttextcontent">
        Let's inspire, learn, and grow <br>
        together at Vedanta's Knowledge <br>
        Sharing Portal.

    </div>


    
    <footer class="footer">
        <div class="container">
            <div class="row">
                
                    

                <div class="footer-col">
                    <h4>Subscribe us</h4>
                    <ul>
                        <li><a href="#">Subscribe for more information</a></li>
                        <li><input type="Email here"  value="Email here"></li>
                        <button class="content_button">Send</button>
                    </ul>
                </div>
                <div class="footer-col">
                <h4>About us</h4>
                <ul>
                    <li><a href="#">Our Blog</a></li>
                    <li><a href="#">Our activities</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Info</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Cookie $ help</a></li>
                    <li><a href="#">Terms $ conditions</a></li>
                </ul>
            </div>
                <div class="footer-col">
                    <h4>Office</h4>
                    <ul>
                        <li><a href="#">BIT Sindri,Sindri,Dhanbad</a></li>
                        <li><a href="#">Follow us</a></li>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </div>

                    </ul>
                </div>
                <div class="container mt-4">
                    <div class="copyright">
                        
                        <p>V-Explore @vexplore 2023.All right reserved.</p>
                    </div>
                </div>
                
                
    </footer>
    
</body>

<script src="https://kit.fontawesome.com/af27657c8f.js" crossorigin="anonymous"></script>

</html>