<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us </title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/contactus.css')}}">
</head>

<body>

    <div class="header">
        <div class="headerfirsthalf">
            <div class="companylogo">
                <img src="{{url_for('static',filename='img/logo.png')}}"  id="logo" />
            </div>
            <div class="companyname">
                V-Explore
            </div>
        </div>
        <div class="headersecondhalf">
            <a class="btn loginbutton" href="signin.html">
                Login
            </a>
            <a class="btn signupbutton" href="signup.html">
                Signup
            </a>
        </div>
    </div>

    <div class="upperbody">

        <span id="upperbodyheading">
            Let's Connect!
        </span>
        <div id="upperbodytext">


            <div class="upperbodytext1">We're overjoyed that you want to get in touch with us!</div>
            <br>
            <br>
            <div class="upperbodytext1">We value open communication at Vedanta's Knowledge Sharing Portal and are
                available to help you in any manner we can.</div>


        </div>
    </div>

    <body>
        <div class="mainbody">
            <div id="mainbodyinsidebox">
                <div class="box">
                    <div class="firstinsidebox">
                        <div class="secondinsidebox heading">
                            General Questions :
                        </div>
                        <div class="secondinsidebox text">
                            Please feel free to contact us by email at [email] with any general questions about Vedanta's Knowledge Sharing Portal. 
                        </div>
                        <div class="secondinsidebox learnmore">
                            Learn More
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="firstinsidebox">
                        <div class="secondinsidebox heading">
                            Technical Support : 
                        </div>
                        <div class="secondinsidebox text">
                            If you are experiencing any technical issues or need assistance with the functionality of the portal, our dedicated technical support team is ready to help. You can reach out to them by sending an email to [email]. 
                        </div>
                        <div class="secondinsidebox learnmore">
                            Learn More
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="firstinsidebox">
                        <div class="secondinsidebox heading">Feedback and Suggestions : </div>
                        <div class="secondinsidebox text">
                            We would be interested in hearing from you if you have any thoughts or ideas to improve the platform's usability or increase its capabilities. If you have any suggestions, kindly submit them to [email. 
                        </div>
                        <div class="secondinsidebox learnmore">
                            Learn More
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="firstinsidebox">
                        <div class="secondinsidebox heading">
                            Social Media : 
                        </div>
                        <div class="secondinsidebox text">
                            Continue to follow us on social media! To keep up with the most recent information, alerts, and interesting posts from our Knowledge Sharing Portal community, follow our official Vedanta accounts on Twitter, Facebook, and LinkedIn.. 
                        </div>
                        <div class="secondinsidebox learnmore">
                            Learn More
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="lowerbodytext1">
            <div class="innerlowerbodytext1">
                Thank you for your interest in Vedanta's Knowledge Sharing Portal. We look forward to hearing from you and working together to foster a thriving community of knowledge-sharing and growth here at Vedanta.. 
            </div>
        </div>

        <div class="lastbox upperbody">
            <div class="lastboxtext">
                Create, Explore & Grow Your Online Presence with V-Explore.
            </div>

            <button class="letsgo">
                Let's Go
            </button>

        </div>


        <!-- footer -->


        <footer class="footer">
            <div class="container">
                <div class="row">
                    
                        
    
                    <div class="footer-col">
                        <h4>Subscribe us</h4>
                        <ul>
                            <li><a href="#">Subscribe for more information</a></li>
                            <li><input type="Email here"  value="Email here"></li>
                            <button class="content_button">Send</button>
                        </ul>
                    </div>
                    <div class="footer-col">
                    <h4>About us</h4>
                    <ul>
                        <li><a href="#">Our Blog</a></li>
                        <li><a href="#">Our activities</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Info</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Cookie $ help</a></li>
                        <li><a href="#">Terms $ conditions</a></li>
                    </ul>
                </div>
                    <div class="footer-col">
                        <h4>Office</h4>
                        <ul>
                            <li><a href="#">BIT Sindri,Sindri,Dhanbad</a></li>
                            <li><a href="#">Follow us</a></li>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
    
                        </ul>
                    </div>
                    <div class="container mt-4">
                        <div class="copyright">
                            
                            <p>V-Explore @vexplore 2023.All right reserved.</p>
                        </div>
                    </div>
                    
                    
        </footer>
    </body>






</body>
<script src="https://kit.fontawesome.com/af27657c8f.js" crossorigin="anonymous"></script>

</html>